<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Story</h1>
  <p>Saat mengikuti kelas ambw saya merasa masih perlu belajar dalam mengikuti kembali, untung terdapat teman saya yang membantu mengajari saya.</p>
  <h2>Saran</h2>
  <p>Menurut saya kelas ambw sudah bagus. Mungkin perlu ditambahkan materi seperti MAPS yang belum diajarkan dalam kelas android
    dan beberapa hal yang sekiranya dapat berguna diberbagai project lainnya(penggunaan API dkk).
  </p>

</ion-content>
